:root {
    

  
    --grey:#8C90A8;
    --grey-light:#F5F5F8;
    --white:#fff;

    --purple:#625FC6;
    --green:#06D6A0;
    --red:#574251;

    --dark-1 : #262E35;
    --dark-2 : #303841;
    --dark-3 :#36404A;
    --dark-4 :#3E4A56;
   
   
    --light-1 : #FFFFFF;
    --light-2 : #F5F7FB;
    --light-3 :#FFFFFF;
    --light-4 :#F7F7FF;

   
}