/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap-icons/font/bootstrap-icons";

@import "assets/variables.scss";


body {
    background-color: var(--bg-2) !important;
    --background-1: var(--bg-1);
    --background-2: var(--bg-3);
    --background-3: var(--bg-4);
    --background-dark: var(--bg-2);

    &.dark {
        --bg-1: var(--dark-1);
        --bg-2: var(--dark-2);
        --bg-3: var(--dark-3);
        --bg-4: var(--dark-4);
        color: var(--white);
    }

    &.light {
        --bg-1: var(--light-1);
        --bg-2: var(--light-2);
        --bg-3: var(--light-3);
        --bg-4: var(--light-4);
        color: var(--dark-1);
    }

}