<div class="container-fluid"> 
    <div class="row h-100 d-flex justify-content-center align-items-center">
        <div class="col-md-8 col-lg-6 col-xl-5">
            <div class="title text-center">
                <h3>SignIn</h3>
                <p>Sign in to continue to Chatvia.</p>
            </div>
            <div class="cardSign p-4">
                <form [formGroup]="form" (ngSubmit)="form.valid && login()" class="">
                    <div class="mb-3">
                        <label class="form-label">
                            Username
                        </label>
                        <div class="mb-3 bg-soft-light rounded-3 input-group">
                            <span class="input-group-text text-muted" id="basic-addon3">
                                <i class="bi bi-person"></i>
                            </span>
                            <input formControlName="username" id="email" name="email" placeholder="Enter email" type="text"
                                class="form-control form-control-lg border-light bg-soft-light form-control"
                               >
                        </div>
                    </div>
                    <div class="mb-4 form-group">
                        <div class="float-end">
                            <a class="text-muted font-size-13" href="/forget-password">
                                Forgot password?
                            </a>
                        </div>
                        <label class="form-label">
                            Password
                        </label>
                        <div class="mb-3 bg-soft-light rounded-3 input-group">
                            <span class="input-group-text text-muted">
                                <i class="bi bi-key-fill"></i>
                            </span>
                            <input formControlName="password" id="password" name="password" placeholder="Enter Password" type="password"
                                class="form-control form-control-lg border-light bg-soft-light form-control"
                                >
                        </div>
                    </div>
                    <div class="form-check mb-4 d-flex">
                        <input id="remember-check" type="checkbox" class="form-check-input form-check-input">
                        <label for="remember-check" class="form-check-label ms-3">
                            Remember me
                        </label>
                    </div>
                    <div class="d-grid btn1">
                        <button (click)="login()" class=" waves-effect waves-light btn btn-primary btn-block">
                            Sign in
                        </button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>