.cardSign {
    background-color: var(--background-1);
    border-radius: 20px;

    .btn1 {

        button {
            background-color: var(--purple);
            padding:  10px 20px;
        }
    }
}