<div class=" side-menu d-flex flex-lg-column  align-items-center  pt-lg-3">
    <a class="logo d-none d-lg-block" routerLink="/">
        <i class="bi bi-chat-left-text"></i>
    </a>
    <div class="menu d-flex flex-lg-column my-auto mx-lg-auto flex-fill justify-content-evenly">
        <a routerLink="profile"><i class="bi bi-person"></i></a>
        <a routerLink="chat" routerLinkActive="active"><i class="bi bi-chat-left-text"></i></a>
        <a><i class="bi bi-people-fill"></i></a>
        <a><i class="bi bi-person-lines-fill"></i></a>
        <a><i class="bi bi-gear-wide-connected"></i></a>
    </div>
    <div class="menu d-flex flex-lg-column me-3 me-md-5 me-lg-0">
        <a class="d-none d-lg-block"><i class="bi bi-globe-americas"></i></a>
        <a class="d-none d-lg-block"><i class="bi bi-moon-fill"></i></a>
        <a><i class="bi bi-person"></i></a>
    </div>
</div>